body
    font-family: 'Inconsolata', monospace
    background-color: rgba(201, 201, 201, 0.521)

h1
    display: flex
    justify-content: center
    color: rgb(80, 93, 112)

.container
    font-size: 10vh
    border: solid
    border-color: rgb(37, 53, 83)
    border-radius: 10px
    transform: translateY(15vh) rotate(180deg);